header{
    background-color: #383d58;
    color: white;
}
.cabeçalho-imagem{
    width: 20% 
header{
    background-color: #383d58;
    color: white; 
}
cabeçalho{
    background-color #3835d58
    color; white
    dispĺay: flex
    justify-content:space around
    align-items: center
    padding: 24px 0;
}

.cabeçalho-imagem{
    width:20%;
}
.cabeçalho-lista-item{
display: inline-block;
margin: 0 16px;
front-size: 24px;