header{
    background-color: #383d58;
    color: white;
}
.cabeçalho-imagem{
    width: 20% 
header{
    background-color: #383d58;
    color: white; 
}
cabeçalho{
    background-color #3835d58
    color; white
    dispĺay: flex
    justify-content:space around
    align-items: center
    padding: 24px 0;